<% @product.reviews.each do |review| %>

  <div class="review">
   
    </div>
  
      <%= comment.comment %>

      <div class="poster">

      By  <%= commented.user.name %> 

    </div>


    </p>
  </div>
<% end %>